body {
    background-color: #ffcea6;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: left;
    background: #777777;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
}

h1 {
    color: #fff;
    font-size: 5em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
}

p {
    color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 14px;
}

p1 {
    color: #005eff;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

p2 {
    color: #005eff;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer;
    position: absolute;
}

#options-btn {
    top: 70%;
    left: 50%;
    transform: translate(-50%);
}

#about {
    background: #777777;
    padding: 5px;
}

#questions {
    background: rgb(188, 222, 234);
    margin: 10px;
    padding: 10px;
}