.text p {
    display: inline-block;
    max-width: 60%;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: rgb(176, 29, 29);
    color: white;
    font-family: sans-serif;
}

.text:nth-child(odd){
    text-align:left;
}
.text:nth-child(odd) p {
    background-color: rgb(176, 29, 29);
    color:aquamarine; 
}
.text:nth-child(even) {
    text-align: right;
}
.text:nth-child(even) p {
    background-color:rgb(15, 6, 96); 
    color:rgb(243, 247, 246)
}
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 7px #5c1541;
    background-color: #abc5d9;
  }

body{ 
    background-color: #1a0971;
      } 
    
      #content {
        margin: 10px;
        padding: 10px;
        border: solid 3px #620101;
        background-color: #165d6d;
      } 
      h1 {
        font-family: cursive; 
        color: rgb(254, 211, 42);
        font-size: 40px; 
      } 
      h2 {
        font-family: 'Times New Roman', Times, serif;
        color: rgb(243, 200, 30);
        font-size: 20px
      } 
      h3 {
        font-family: 'Times New Roman', Times, serif;
        color: rgb(243, 200, 30);
        font-size: 20px
      } 
      h4 {
        font-family: 'Times New Roman', Times, serif;
        color: rgb(243, 200, 30);
        font-size: 20px
      } 
      p{
        color:  rgb(3, 59, 46);
        text-indent: 20px;
        margin-left: 10px;
        font-family: 'Times New Roman', Times, serif;
    }
    
 