p{
    color: #6b0e14;
    text-indent: 20px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color:#47707a;
    font-size: 400%;
    font-family: cursive;
}
h2 {
    color:#47707a;
    font-size: 200%;
    font-family: cursive;
}
h3 {
    color:#47707a;
    font-size: 200%;
    font-family: cursive;
}

img {
    width: 900px;
    height: 1200px;
  }
#content {
background-color: beige;
    margin: 200;
    padding: 200;
    font-size: 40px;
    border: solid 3px #47707a
    border-color rgb(71, 112, 122);
    font-size: 70px;
}
