body {
    background-color: #0c2b35;
    margin: 100px;
    padding: 100px;
  }
  

  h1,h2 {
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
  }
  h3{
    color: black;
  }
  
  p{ 
    color: aliceblue;
  }
p1{
    color: black;
}
 
  h1 {
    letter-spacing: 5px;
    word-spacing: 5px;
    font-size: 200%;
  }
  
  
  #content {
    margin: 10px;
    padding: 10px;
    border: solid 1px #941a1a;
    background-color: #0c2b35;

  }
  

  .minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #a50606;
    background-color: #a6c7f0;
  }
  